@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

:root {
    --cor01: black;


    --font01: 'Dosis', sans-serif;
    --font02: 'Roboto', sans-serif;
    --font03: 'Roboto Slab', serif;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('imagens/wallpaper004.jpg');
}

header {
    background-color: rgb(19, 42, 104);
    background-size: cover;
    color: white;
    height: 41px;
    font-family: var(--font02);
    padding: 20px 0px 0px 15%;
    font-weight: 300;
    font-size: 1em;
}

header span {
    padding: 0px 15px 30px 30px;
}

header span:last-child {
    padding: 0;
}

header span.img-cel::after {
    content: url("imagens/telephone\ \(1\).png");
    padding: 0px 0px 0px 5px;
    position: relative;
    top: 3px;
}

header span.img-mail::after {
    content: url("imagens/email.png");
    padding: 0px 0px 0px 5px;
    position: relative;
    top: 3px;
}

header span a:first-child {
    text-decoration: none;
    color: white;
    font-weight: 300;
    background-color: #18a01f;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    margin-left: 2%;
    width: 25%;
}

header span.img-whats a::after {
    content: url("imagens/phone.png");
    padding: 0px 0px 0px 5px;
    position: relative;
    top: 3px;
    height: 10px;
}

header span.img-whats a:hover {
    background-color: #16771b;
}

header span.img-on a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: 300;
    background-color: #17a090;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    margin-left: 0%;
}

header span.img-on a::after {
    content: url("imagens/speech-bubble.png");
    padding: 0px 0px 0px 5px;
    position: relative;
    top: 3px;
    height: 10px;
}

header span.img-on a:hover {
    background-color: #16776c;
}

/*media querie*/
@media screen and (max-width: 800px) {
    span.img-on span.img-whats {
        width: 100%;
    }
}

nav {
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.336);
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: black;
    margin-right: 40px;
    font-family: var(--font03);
    font-weight: 400;
}

nav a:hover {
    background-color: rgb(19, 42, 104);
    color: white;
    border-radius: 100px;
    transition: 750ms;
}

section {
    background-color: whitesmoke;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.144);
    border-bottom: 1px solid gray;
}

section:hover {
    background-color: lightblue;
    transition: 1s;
}

section h1 {
    font-family: var(--font02);
    color: rgb(128, 22, 22);
    font-size: 3em;
    font-weight: 400;
    padding: 10px 0px 5px 20px;
}

div.linha-h1 {
    width: 200px;
    height: 3px;
    background-color: rgb(128, 22, 22);
    margin: 0px 0px 0px 20px;
}


section p {
    padding: 5px 30px 30px 20px;
    width: 625px;
    text-align: justify;
    color: gray;
    font-family: var(--font01);
    font-size: 1.3em;
}

section img {
    width: 300px;
    height: 250px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
}

section:hover > img {
    border-radius: 100px 3px;
    width: 330px;
    height: 270px;
    transition: 2s;
}

section:hover > div.linha-h1 {
    width: 600px;
    height: 3px;
    transition: 2s;
    background-color: rgb(19, 42, 104);
}

section:hover > h1 {
    color: rgb(19, 42, 104);
}

section:hover > p {
    color: black;
}
