@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

:root {
    --cor01: black;


    --font01: 'Dosis', sans-serif;
    --font02: 'Roboto', sans-serif;
    --font03: 'Roboto Slab', serif;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('imagens/wallpaper004.jpg');
}

a {
    text-decoration: none;
    color: white;
}

.menu-container {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    font-family: var(--font01);
}

.menu { 
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu > .menu-item {
    display: flex;
    justify-content: center;
    flex: 1;
}

.link-menu {
    display: flex;
    justify-content: center;
    flex: 2;
    margin-top: 5px;
}

.link-menu > a {
    padding: 0px 3px;
}

.menu-item::before {
    position: relative;
    top: 3px;
    left: -4px;
} 

.img-cel::before {
    content: url('imagens/telephone\ \(1\).png');
}

.img-mail::before {
    content: url('imagens/email.png');
}

.img-whats {
    background-color: #2ba531;
    padding: 10px;
    border-radius: 30px;
    width: 189px;
}

.img-on {
    background-color: #08af9c;
    padding: 10px;
    border-radius: 30px;
    width: 136px;
}

.img-whats::before {
    content: url('imagens/phone.png');
}

.img-on::before {
    content: url('imagens/speech-bubble.png');
}

.img-whats:hover {
    background-color: #257429;
}

.img-on:hover {
    background-color: #18665d;
}

nav {
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.336);
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: black;
    margin-right: 40px;
    font-family: var(--font03);
    font-weight: 400;
}

nav a:hover {
    background-color: rgb(19, 42, 104);
    color: white;
    border-radius: 100px;
    transition: 750ms;
}

.welcome-container {
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.442);
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1080px;
    padding: 20px;
    box-sizing: border-box;
}

.welcome-written {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 550px;
    height: 366px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.welcome-written > h1 {
    color: #72120B;
    font-family: var(--font03);
    padding-bottom: 20px;
}

.welcome-written > p {
    color: rgb(189, 180, 180);
    font-family: var(--font02);
    font-size: 1.2em;
    text-align: justify;
    padding-top: 20px;
}

.welcome-written > span > a {
    color: white;
    position: relative;
    top: 40px;
    background-color: #72120B;
    border-radius: 10px;
    padding: 20px 40px;
    font-family: var(--font02);
    margin-bottom: 20px;
}

.welcome .welcome-img {
    display: flex;
    position: relative;
    height: 366px;
    width: 430px;
    overflow: hidden;
    z-index: 1;
}

.welcome-img > img {
    width: 430px;
    height: 366px;
}

.transparent {
    background-color: #b1000090;
    color: white;
    font-family: var(--font03);
    font-size: 1.2em;
    right: 430px;
    height: 366px;
    width: 430px;
    position: absolute;
    z-index: 2;
    transition: 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transparent > img {
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
}

.welcome-container:hover > .welcome > .welcome-img > .transparent {
    right: 0px;
}

.linha1 {
    height: 4px;
    width: 100%;
    background-color: #eee;
}

.linha2 {
    height: 4px;
    width: 20px;
    background-color: #72120B;
    transition: 1s;
}

.welcome-container:hover > .welcome > .welcome-written > .linha1 > .linha2 {
    width: 100%;
}



aside {
    background-color: #003366;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    box-sizing: border-box;
}

.rectangles-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rectangle {
    height: 450px;
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.133);
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    color: white;
    font-family: var(--font01);
}

.rectangle h1 {
    padding: 30px;
    font-family: var(--font02);
}

.rectangle p {
    line-height: 1.7em;
    font-weight: bold;
}

.rectangle-img {
    width: 87%;
}

.rectangle-btn {
    background-color: #72120B;
    padding: 20px 65px;
    border-radius: 10px;
    position: relative;
    top: 30px;
}

.rectangle:hover {
    background-color: #305c8865;
}

a.rectangle-btn:hover {
    padding: 23px 75px;
    transition: .5s ease-in-out;
}

.form-container {
    background-color: white;
    max-width: 1080px;
    padding: 30px;
    margin: auto;
    box-sizing: border-box;
}

.linha {
    width: 10%;
    height: 3px;
    background-color: #72120B;
    transition: 2s;
}

.form-container:hover > .linha {
    width: 100%;
}

.form-container > h1 {
    color: #72120B;
    font-family: var(--font03);
    text-align: center;
    margin: 20px;
}

form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px;
}

.write {
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message-box {
    display: flex;
    flex: 1;
    align-self: flex-start;
    margin: 5px;
    height: 215px;
    box-sizing: border-box;
}

.input {
    margin: 5px 5px 5px 0;
    background-color: rgba(137, 136, 93, 0.181);
    border: none;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 300;
    font-family: var(--font01);
}

.forms-btn {
    background-color: #72120B;
    color: white;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-size: 1.2em;
    font-family: var(--font03);
    cursor: pointer;
    
}

.forms-btn:hover {
    background-color: #b16100;
}